body {
    margin: 0;
}

main {
    background-image:linear-gradient(
     to bottom,
		#e40303,
		#e40303 16.67%,
		#ff8c00 16.67%,
		#ff8c00 33.33%,
		#ffed00 33.33%,
		#ffed00 50%,
		#008026 50%,
		#008026 66.67%,
		#004dff 66.67%,
		#004dff 83.33%,
		#750787 83.33%,
		#750787
		);
    background-repeat: no-repeat;

    position: absolute;
    top: 88px;
    bottom: 10vh;
    left: 0;
    right: 0;

}

#topnav a {
    color: white;
    padding: 32px 16px;
    text-decoration: none;
}


#topnav a:hover {
    background-color: #222;
}

#topnav a.active {
    background-color: #693891;
}

header {
    font-family:'Arial';
    font-size: 24px;
    background:black;
    padding: 32px 0px;
}

footer{
    min-height:10vh; 
    background:black; 
    position: absolute;
    bottom: 0;
    width: 100vw; 
    height: 10vh; 
    text-align:center;
}

footer p {
    color: white; 
    font-family:'Courier New',monospace;
}

article {
    background-color: #ddd;
    position: absolute;
    padding: 16px 16px;
    top:0px;
    bottom: 0px;
    right: 1in;
    left: 1in;
}
